In [81]:
"""
날짜 : 2023/01/03
이름 : 이민혁
내용 : 파이썬 반복문 for 실습하기
"""

'\n날짜 : 2023/01/03\n이름 : 이민혁\n내용 : 파이썬 반복문 for 실습하기\n'

In [82]:
# for
for i in range(5):
    print('i : ' , i)

for j in range(10, 20):
    print('j : ', j)

for k in range(10, 0, -1):
    print('k : ' , k)

i :  0
i :  1
i :  2
i :  3
i :  4
j :  10
j :  11
j :  12
j :  13
j :  14
j :  15
j :  16
j :  17
j :  18
j :  19
k :  10
k :  9
k :  8
k :  7
k :  6
k :  5
k :  4
k :  3
k :  2
k :  1

In [83]:
# for 1부터 10까지의 합

i = 0
total = 0

for i in range(11):
    total += i

print('total : ', total)

total :  55

In [84]:
# for 1부터 10까지 짝수 합

i = 0
total = 0

for i in range(11):
    
    if i % 2 == 0:

        total += i

    i += 1

print('total : ', total)

total :  30

In [85]:
# for 1부터 10까지의 홀수합

i = 0
total = 0

for i in range(11):

    if i % 2 == 1:

        total += i

    i += 1

print('total : ', total )

total :  25

In [86]:
# 중첩 for 문

for a in range(2):

    print('a' , a)

    for b in range(3):

        print('b', b)

a 0
b 0
b 1
b 2
a 1
b 0
b 1
b 2

In [87]:
# for문 구구단 출력

for x in range(2,10):
    print(x, '단')
    for y in range(1,10):
        z = x * y
        print('{} x {} = {}'.format(x,y,z))

2 단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [88]:
# 별삼각형
for start in range(1, 11):

    for end in range(1, start):
        print('☆',end='')
        
    print()

☆
☆☆
☆☆☆
☆☆☆☆
☆☆☆☆☆
☆☆☆☆☆☆
☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆
☆☆☆☆☆☆☆☆☆

In [89]:
# 별삼각형

for i in range(11):
    print('★' * i)

★
★★
★★★
★★★★
★★★★★
★★★★★★
★★★★★★★
★★★★★★★★
★★★★★★★★★
★★★★★★★★★★

In [90]:
#별삼각형
for i in  range(5):
    for j in range(i + 1):
        print('*',end='')
    print()

*
**
***
****
*****

In [91]:
for i in range(5,0,-1):
    for j in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [92]:
for i in range(5):
    for j in range(i + 1):
        print('',end='')
    for j in range(5 - i):
        print('★',end='')
    print()

★★★★★
★★★★
★★★
★★
★

In [93]:
for i in range(10):
    print('{:>10}'.format('★' * (i+1)))

         ★
        ★★
       ★★★
      ★★★★
     ★★★★★
    ★★★★★★
   ★★★★★★★
  ★★★★★★★★
 ★★★★★★★★★
★★★★★★★★★★

In [94]:
for i in range(5):
    print('{:<5}'.format('★'*(i+1)))

★
★★
★★★
★★★★
★★★★★

In [95]:
for i in range(1,11,2):
    print('{:^10}'.format('★'*i))

    ★
   ★★★
  ★★★★★
 ★★★★★★★
★★★★★★★★★

In [96]:
for i in range(1,6):
    for j in range(5-i):
        print('',end='')
    for j in range(1,i*2,1):
        print('*',end='')
    print('')

*
***
*****
*******
*********

In [97]:
for i in range(1,11,2):
    print('{:^10}'.format('★'*i))
for j in range(9,0,-2):
    print('{:^10}'.format('★' * j))

    ★
   ★★★
  ★★★★★
 ★★★★★★★
★★★★★★★★★
★★★★★★★★★
 ★★★★★★★
  ★★★★★
   ★★★
    ★

In [98]:
for i in range(9,0,-2):
    print('{:^10}'.format('★'*i))
for j in range(3,10,2):
    print('{:>10}'.format('★'*j))

★★★★★★★★★
 ★★★★★★★
  ★★★★★
   ★★★
    ★
       ★★★
     ★★★★★
   ★★★★★★★
 ★★★★★★★★★

In [99]:
# 파이썬 별찍기
for i in range(1,7,1):
    print('{:<5}'.format('☆'*i))

☆
☆☆
☆☆☆
☆☆☆☆
☆☆☆☆☆
☆☆☆☆☆☆

In [100]:
for i in range(1,7,1):
    print('{:>7}'.format('☆' * i))

      ☆
     ☆☆
    ☆☆☆
   ☆☆☆☆
  ☆☆☆☆☆
 ☆☆☆☆☆☆

In [101]:
for i in range(5,0,-1):
    print('{:<5}'.format('★' * i))

★★★★★
★★★★
★★★
★★
★

In [102]:
for i in range(5,0,-1):
    print('{:>5}'.format('☆' * i ))

☆☆☆☆☆
 ☆☆☆☆
  ☆☆☆
   ☆☆
    ☆

In [103]:
for i in range(6,0,-1):
    print('{:>5}'.format('☆' * (i-1)))

☆☆☆☆☆
 ☆☆☆☆
  ☆☆☆
   ☆☆
    ☆

In [104]:
for i in range(1,6,1):
    print('{:>5}'.format('★' * i))

    ★
   ★★
  ★★★
 ★★★★
★★★★★

In [105]:
a = 7

for i in range(1,a):
    print('{:>7}'.format('★' * i))

      ★
     ★★
    ★★★
   ★★★★
  ★★★★★
 ★★★★★★

In [106]:
for i in range(1,11,2):
    print('{:^10}'.format('★' * i))

    ★
   ★★★
  ★★★★★
 ★★★★★★★
★★★★★★★★★

In [107]:
num = int(input('숫자를 입력해주세요.'))

for i in range(num):
    print('{:<5}'.format('★' * (i+1)))

ValueError: invalid literal for int() with base 10: ''

In [ ]:
for i in range(5,0,-1):
    print('{:<5}'.format('★' * i))

★★★★★
★★★★
★★★
★★
★

In [ ]:
star = '*'
blank = ' '

for i in range(0, 5):
    print(blank * i + star * (5 - i))

*****
 ****
  ***
   **
    *

In [ ]:
n = int(input('숫자를 입력하세요.'))

for i in range(1,n+1):
    print('★' * i)

★
★★
★★★
★★★★
★★★★★

In [143]:
for i in range(1,6):
    print('{:>5}'.format('★' * i))

    ★
   ★★
  ★★★
 ★★★★
★★★★★

In [117]:
for i in range(5):
    for j in range(i + 1):
        print('',end='')
    for j in range(5 - i):
        print('★',end='')
    print()

★★★★★
★★★★
★★★
★★
★

In [121]:
for i in range(5,0,-1):
    print('{:<}'.format('★' * i))

★★★★★
★★★★
★★★
★★
★

In [142]:
for i in range(1,10,2):
    print('{:^10}'.format('★' * i))

    ★
   ★★★
  ★★★★★
 ★★★★★★★
★★★★★★★★★

In [151]:
for i in range(5):
    print('{:<5}'.format((i+1) * '*') + '{:>5}'.format('*' * (i+1)))
for j in range(4,0,-1):
    print('{:<5}'.format(('*'*j)) + '{:>5}'.format('*' * (j)))

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [168]:
for i in range(3):
    print('{:>3}'.format('*'*(i+1)))
for j in range(2,0,-1):
    print('{:>3}'.format('*'*j))

  *
 **
***
 **
  *

In [174]:
for i in range(9,0,-2):
    print('{:^9}'.format('*'*i))
for j in range(3,10,2):
    print('{:^9}'.format('*'*j))

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [10]:
n = int(input('숫자를 입력해주세요.'))

for i in range(n,0,-1):
    print(' '*(i-1),end='')
    print('* '*(n-(i-1)))

ValueError: invalid literal for int() with base 10: ''

In [65]:
n = int(input('숫자를 입력해주세요.'))

for i in range(1, n+1):
    if i == n:
        print('*'*(i*2-1)) #마지막 줄은 입력받은 값의 *2 -1 이다.
    elif i == 1:
        print(' ' * (n-i) + '*') #첫줄은 입력받은 값 -1 이 공백이며, 별 1개가 출력되어야 한다.
    else:
        print(' ' * (n-i) + '*' + ' '*(2*(i-1)-1)+'*')

   *
  * *
 *   *
*******