In [2]:
"""
    날짜 : 2023/01/13
    이름 : 이민혁
    내용 : 파이썬 데이터베이스 프로그래밍 실습하기
"""

import pymysql

In [9]:
# insert 실습

conn = pymysql.connect(host ='127.0.0.1',
                       user='root',
                       password='1234', 
                       db = 'java1db', 
                       charset = 'utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "insert into `user1` values ('p101','1234','파이썬','010-1234-1234','20')"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

In [17]:
# update 실습
conn = pymysql.connect(host ='127.0.0.1',
                       user='root',
                       password='1234', 
                       db = 'java1db', 
                       charset = 'utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "update `user1` set `name` = '홍길동', `hp` = '010-1234-1234',`age` = 27 where `uid` = 'a101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

In [15]:
# update 실습
conn = pymysql.connect(host ='127.0.0.1',
                       user='root',
                       password='1234', 
                       db = 'java1db', 
                       charset = 'utf8')

# SQL 실행객체
cur = conn.cursor()

# SQL 실행
sql = "delete from `user1` where `uid` = 'p101';"
cur.execute(sql)
conn.commit()

# 데이터베이스 종료
conn.close()

In [18]:
# select 실습
conn = pymysql.connect(host ='127.0.0.1',
                       user='root',
                       password='1234', 
                       db = 'java1db', 
                       charset = 'utf8')

cur = conn.cursor()

sql = "select * from `user1`;"

cur.execute(sql)

conn.commit()

#데이터 출력

user = []

for row in cur.fetchall():
    print('1-------------')
    print('아이디 : ', row[0])
    print('비밀번호 : ', row[1])
    print('이름 : ', row[2])
    print('휴대폰 : ', row[3])
    print('나이 : ', row[4])

conn.close()

print('select 종료...')

1-------------
아이디 :  A101
비밀번호 :  1234
이름 :  홍길동
휴대폰 :  010-1234-1234
나이 :  27
1-------------
아이디 :  A102
비밀번호 :  1234
이름 :  김춘추
휴대폰 :  010-1234-2222
나이 :  23
1-------------
아이디 :  A103
비밀번호 :  1234
이름 :  장보고
휴대폰 :  010-1234-3333
나이 :  32
1-------------
아이디 :  A104
비밀번호 :  1234
이름 :  강감찬
휴대폰 :  010-1234-4444
나이 :  45
1-------------
아이디 :  A105
비밀번호 :  1234
이름 :  이순신
휴대폰 :  010-1234-5555
나이 :  51
1-------------
아이디 :  a1111
비밀번호 :  1234
이름 :  마이바티스
휴대폰 :  010-4390-0810
나이 :  23
1-------------
아이디 :  Test
비밀번호 :  1234
이름 :  test
휴대폰 :  010-4390-0810
나이 :  12
1-------------
아이디 :  test1
비밀번호 :  1234
이름 :  이민혁1
휴대폰 :  010-4390-0811
나이 :  23
select 종료...